root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space

[*.ts]
indent_size = 2
quote_type = single
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_size = 4
quote_type = auto
insert_final_newline = true
trim_trailing_whitespace = true

[*.json]
indent_size = 2
quote_type = double
insert_final_newline = true
trim_trailing_whitespace = true
